
#hotelName{
    
    display: none;
    text-align: center;
}
 

#hotelName>h1{
    margin-top: 5%;
    font-weight: bolder;
    color: blue;
}
footer{
    background: #04111E;
    color: #ffffff;
    margin-top: 12%;
}

.img_gray {
    filter: grayscale(1);
}

.img_gray:hover {
    filter: none;
}
.card{
    margin: 2%;

}

.card:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    scale: 1.02;

}


#trending-section{

    justify-content: center;
  
}

#offer{
  
    align-items: center;
    margin-top: 40px;
}
#offer-card{
    margin-top: 2%;
}
.browser-card{
    margin-top:2% ;
}
#quick-plan-card{
    margin-top: 2%;
    display: flex;
    text-align: center;
}

#quick-plan-card>div>img{
    width: 90%;
    object-fit: cover;
}

#planer>img{
 width: 50%;
    object-fit: cover;
    height: 60%;

}
#planer:hover{
    transition: 0.5s;
    margin: 1%;

    
}

#location-card{
  width: 100%;
  height: 20%;
  object-fit: cover;
}

