#hotelName{
    
    display: none;
    text-align: center;
}
#hotelName>h1{
    margin-top: 5%;
    font-weight: bolder;
    color: blue;
}
footer{
    background: #04111E;
    color: #ffffff;
    margin-top: 12%;
}

.img_gray {
    filter: grayscale(1);
}

.img_gray:hover {
    filter: none;
}
