

@media all and (max-width: 1440px) {
    footer{
        margin-top: 2%;
        
    }
    .form-section.responsive-form{
        margin-top: -55%;
       
    }
    .quick-btn{
        scale: 1.5;
        margin-left: 90px;
    }

}

@media all and (max-width: 1024px) {
    footer>svg{
        margin-top: 5%;
    }
    .form-section.responsive-form{
        margin-top: -65%;
        font-size: 16px;

       
    }
    .quick-btn{
        scale: 1.2;
        margin-left: 43px;
    }
   
  
}


@media all and (max-width: 768px) {
  
    footer>svg{
    margin-top: 10%;
    }
    .form-section.responsive-form{
        margin-top: -67%;
        font-size: 13px;

       
    }
    .quick-btn{
        scale: 0.9;
        margin-left: -5px;
    }

      
    }


@media all and (max-width: 425px) {  
    #hotelName{
        display: contents;
        text-align: center;
        object-fit: cover;
        
        }   
   
    footer>svg{
        margin-top: 32%;
    }
    .form-section.responsive-form{
        margin-top: -115%;
        font-size: 12px; 
    }
    .quick-btn{
        scale: 0.8;
        margin-left: -25px;
    }
    
}


@media all and  (max-width: 375px) {  
    #hotelName{
        display: contents;
        text-align: center;
        object-fit: cover;
        
        }    
    footer>svg{
        margin-top: 40%;
    }
    .form-section.responsive-form{
        margin-top: -135%;
        font-size: 12px;

       
    }
    .quick-btn{
        scale: 0.7;
        margin-left: -40px;
    }
    
}

@media all and  (max-width: 320px) {  
    #hotelName{
        display: contents;
        text-align: center;
        object-fit: cover;
       
        
        }    
    footer>svg{
        margin-top: 50%;
    }
    .form-section.responsive-form{
        margin-top: -155%;
        font-size: 12px;

       
    }
    .quick-btn{
        scale: 0.5;
        margin-left: -50px;
    }
    
}
